
* { margin: 0; padding: 0; font-family:Arial, Helvetica, sans-serif}

a {
text-decoration: none;
color: ffc700;
}

body {
color: #665950;
  font: 14px/1.7413 "Helvetica Neue", Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}

#logo {
position: fixed;
top: 7;
right: 140;
z-index: 5;
}

#tweet {
position:fixed;
width: 100%;
}


#topbar {
width: 100%;
height: 32px;
 margin: 0;
background-color:#ffc700;
color: white;
}

#white {
width: 100%;
height: 61px;
 margin: 0;
background-color:#ffffff;
}

#whiteshadow {
z-index: 4;
width: 100%;
height: 32px;
 background:url(http://i.imgur.com/BeNtu.png); 
}

#kevin {
position: absolute;
left: 165px;
bottom: -6px;
}

#rose {
position: absolute;
left: 255px;
bottom: -6px;
}

#jack {
position: absolute;
left: 344px;
bottom: -6px;
}

#twitter {
z-index: -55;
width: 100%;
height: 1700px;
 margin: 0;
   position: relative;
    top: 0;
}

#noise {
z-index: -55;
width: 100%;
height: 812px;
 margin: 0;
   position: relative;
    top: 0;
 background:url(http://i.imgur.com/HwT9a.png); 
}

#tshad {
z-index: 4;
width: 100%;
height: 22px;
 background:url(http://i.imgur.com/mVS5j.png); 
}

#b {
z-index: 4;
width: 100%;
height: 490px;
 background:url(http://i.imgur.com/of2Ru.png); 
 color: 262626;
}

#bshad {
z-index: 4;
width: 100%;
height: 32px;

 background:url(http://i.imgur.com/qdhEe.png); 
}

.inner {
position: relative;
left: 136px;
top: 8px;
}

.inner2 {
position: relative;
left: 136px;
top: 38px;
color: #ffc700;
}

.inner3 {
position: relative;
width: 80%;
top: 38px;
color: #ffc700;
}

#extension {
position: relative;
right: 36px;
top: 194px;
}

#parker {
position: relative;
height: 650px;
background:url(http://i.imgur.com/Dbwsx.png);
}

h1 {
	font: bold 1.7em/1 "Reader Bold", "Helvetica Neue", Arial, Helvetica, sans-serif; /* 48px/48px */
	font-size-adjust: 0.53;
	letter-spacing: -1px;
	color: #c9deed;
	text-shadow: 0 1px #fff;
	text-rendering: optimizelegibility;
}
h2 {
	font: bold 1.35em/1.1429 "Reader Bold", "Helvetica Neue", Arial, Helvetica, sans-serif; /* 21px/24px */
	font-size-adjust: 0.53;
	letter-spacing: -0.0238em;
	color: #ffc700
	text-shadow: 0px 0px 3px #fff;
	}

h3 {
	color: #3f4c56;
	font-size: 1.1429em; /* 16px */
	line-height: 1.5; /* 24px */
}
h4 {
	color: #52463F;
	font-size: 1em; /* 14px */
	line-height: 1.1429; /* 16px */
	margin: 0 0 0.5714em 0; /* 0 0 8px 0 */
}



.about{
display: inline-block;
float: left;
}

.fb-like {
z-index: 66;
position: fixed;
top: 0;
}